[submodule "RE-UE4SS-SMT5V"]
	path = RE-UE4SS-SMT5V
	url = https://github.com/MrPoblin/RE-UE4SS-SMT5V.git
[submodule "SMT5VAP/External/APCpp"]
	path = SMT5VAP/External/APCpp
	url = https://github.com/MrPoblin/APCpp.git
